$white-color: #fafafa;

$principal-main-color: #1a237e;
$principal-light-color: #9fa8da;
$secondary-main-color: #039be5;
$secondary-light-color: #b3e5fc;
$third-main-color: #64dd17;
$third-light-color: #ccff90;
$warn-main-color: #e53935;
$warn-light-color: #ffcdd2;

// Global settings
.secondary-main-color {
    background-color: $secondary-main-color;
}

// Navbar settings
.logo-core {
    color: $white-color;
    font-size: 3rem;
    font-weight: bold;
}

.logo-point {
    color: $third-main-color;
    font-size: 3rem;
    font-weight: bold;
}

.full-height {
    height: 100%;
}

.flex-wrapper {
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.logo-fit {
    max-height: 90%;
}

// Form validation settings
.validation-alert {
    color: $warn-main-color;
}

// Profile -> Avatar
.row-wrap {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    .cols {
        padding: 0 0.75rem;
        &.ss12 {
            width: 100%;
        }
        @media only screen and (min-width: 601px) {
            &.mm8 {
                width: 66.6666666667%;
            }
            &.mm4 {
                width: 33.3333333333%;
            }
        }
    }
}

.no-bottom-margin {
    margin-bottom: 0;
}

.rank-display {
    font-size: 4rem;
    font-weight: bold;
    color: $secondary-main-color;
}

.total-display {
    font-size: 1rem;
}

.performance-up {
    color: $third-main-color;
}

.performance-down {
    color: $warn-main-color;
}
