$white-color: #fafafa;

$principal-main-color: #1a237e;
$principal-light-color: #9fa8da;
$secondary-main-color: #039be5;
$secondary-light-color: #b3e5fc;
$third-main-color: #64dd17;
$third-light-color: #ccff90;
$warn-main-color: #e53935;
$warn-light-color: #ffcdd2;
$default-font-color: #424242;

// Global settings
.default-font-shape {
    color: $default-font-color;
}

.bet-selection {
    background-color: $principal-light-color;
}

.strong-shape {
    font-weight: bold;
}

.principal-main-color-back {
    background-color: $principal-main-color;
}

.secondary-main-color-back {
    background-color: $secondary-main-color;
}

.third-main-color-back {
    background-color: $third-main-color;
}

.warn-main-color-back {
    background-color: $warn-main-color;
}

.principal-main-color {
    color: $principal-main-color;
}

.secondary-main-color {
    color: $secondary-main-color;
}

.third-main-color {
    color: $third-main-color;
}

.warn-main-color {
    color: $warn-main-color;
}

.white-main-color {
    color: $white-color;
}

// Flexbox util
.flex {
    display: flex;
}

.flex-important {
    display: flex !important;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.direction-column {
    flex-direction: column;
}


// Navbar settings
.logo-core {
    color: $white-color;
    font-size: 3rem;
    font-weight: bold;
}

.logo-point {
    color: $third-main-color;
    font-size: 3rem;
    font-weight: bold;
}

.full-height {
    height: 100%;
}

.logo-fit {
    max-height: 90%;
}

.profile-fit {
    max-height: 60%;
}

// Profile -> Avatar
.row-wrap {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    .cols {
        padding: 0 0.75rem;
        &.ss12 {
            width: 100%;
        }
        @media only screen and (min-width: 601px) {
            &.mm6 {
                width: 50%;
            }
            &.mm6 {
                width: 50%;
            }
        }
    }
}

.no-bottom-margin {
    margin-bottom: 0;
}

.simple-margin-bottom {
    margin-bottom: 1rem;
}

.rank-display {
    font-size: 4rem;
    font-weight: bold;
    color: $principal-main-color;
}

.total-display {
    font-size: 1rem;
}

// Admin -> team
.team-country-shape {
    font-size: 2rem;
    font-weight: bold;
}

.team-label-shape {
    font-size: 1rem;
}

// Img-uploader
img-uploader {
    .drop-box {
        background: #F8F8F8;
        border: 5px dashed $secondary-light-color;
        text-align: center;
        padding: 1rem;
    }
    .drop-box.dragover {
        border: 5px dashed $secondary-main-color;
    }
    .drop-box.dragover-err {
        border: 5px dashed $warn-main-color;
    }
    .ng-crop-container {
        width: 500px;
        height: 300px;
    }
}

// Bet -> collapsible
.row-dispatcher {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 20%;
}

.country {
    width: 60%;
}

.add-padding {
    padding: 1rem;
}

// HACK
.collapsible-body p {
    padding: .5rem;
}

.hover-shadow-effect:hover {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

// TABLE
.scroll {
    max-height: 500px;
    overflow: auto;
}

.tr {
    width: 100%;
}

.table-line {
    height: 5rem
}

.no-margin {
    margin: 0 !important;
}

