<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="card-panel">
            <span class="principal-main-color center-align flow-text truncate">Match du jour</span>
            <div ng-repeat="(group, matchs) in ctrl.dayMatchs">
                <span class="secondary-main-color center-align flow-text truncate">{{ group | convertGroupId }}</span>
                <div ng-repeat="match in matchs | orderBy: 'date'" class="row no-bottom-margin valign-wrapper principal-main-color">
                    <div class="col s5 row-dispatcher">
                        <div class="logo valign-wrapper">
                            <img ng-src="{{ match.homeTeam.logo.url }}" class="circle responsive-img" alt="" />
                        </div>

                        <div class="country">
                            <p class="center-align truncate">{{match.homeTeam.country}}</p>
                        </div>
                    </div>

                    <div class="col s2 center-align">
                        <p class="flow-text truncate">-</p>
                    </div>

                    <div class="col s5 row-dispatcher">
                        <div class="country">
                            <p class="center-align truncate">{{match.awayTeam.country}}</p>
                        </div>

                        <div class="logo valign-wrapper">
                            <img ng-src="{{ match.awayTeam.logo.url }}" class="circle responsive-img" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="collapsible popout" data-collapsible="accordion">
    <li ng-repeat="group in ctrl.getDistinctGroups() | orderBy">
        <div class="collapsible-header">{{ group | convertGroupId }}</div>
        <div class="collapsible-body add-padding">
            <div ng-if="ctrl.matchs" class="section" ng-repeat="match in ctrl.matchs | filter: { group : group } | orderBy: 'date'">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            <div class="row no-bottom-margin valign-wrapper">
                                <a class="col s5 row-dispatcher waves-effect" ng-class="{ 'bet-selection': ctrl.isSelected(match._id, '1') }" ng-click="ctrl.saveBet(match._id, '1')">
                                    <div class="logo valign-wrapper">
                                        <img ng-src="{{ match.homeTeam.logo.url }}" class="circle responsive-img" alt="" />
                                    </div>

                                    <div class="country">
                                        <p class="principal-main-color strong-shape center-align flow-text truncate">{{match.homeTeam.country}}</p>
                                    </div>
                                </a>

                                <a class="col s2 center-align waves-effect" ng-class="{ 'bet-selection': ctrl.isSelected(match._id, 'N') }" ng-click="ctrl.saveBet(match._id, 'N')">
                                    <p class="strong-shape secondary-main-color flow-text truncate">Nul</p>
                                </a>

                                <div class="col s5 row-dispatcher waves-effect" ng-class="{ 'bet-selection': ctrl.isSelected(match._id, '2') }" ng-click="ctrl.saveBet(match._id, '2')">
                                    <div class="country">
                                        <p class="principal-main-color strong-shape center-align flow-text truncate">{{match.awayTeam.country}}</p>
                                    </div>

                                    <div class="logo valign-wrapper">
                                        <img ng-src="{{ match.awayTeam.logo.url }}" class="circle responsive-img" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header">
                            <div class="row no-bottom-margin">
                                <a class="col s12 waves-effect warn-main-color center-align flow-text truncate" ng-click="ctrl.cancelBet(match._id)">Réinitialiser</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header">
                            <div class="row no-bottom-margin">
                                <div class="col s12">
                                    <p class="secondary-main-color center-align flow-text truncate">Détails</p>
                                </div>
                            </div>
                        </div>

                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col s12 center-align">
                                    <h5 class="strong-shape secondary-main-color">{{match.stadium}}</h5>
                                    <h6 class="secondary-main-color">{{match.date | date: 'EEEE dd MMMM yyyy'}}</h6>
                                    <h6 class="secondary-main-color">{{match.date | date: 'H:mm'}}</h6>
                                </div>

                                <div class="col s6">
                                    <div class="section center-align">
                                        <span class="team-label-shape secondary-main-color">Entraineur: </span>
                                        <span class="default-font-shape">{{match.homeTeam.coach}}</span>
                                    </div>

                                    <div class="section center-align">
                                        <span class="team-label-shape secondary-main-color">Capitaine: </span>
                                        <span class="default-font-shape">{{match.homeTeam.captain}}</span>
                                    </div>
                                </div>

                                <div class="col s6">
                                    <div class="section center-align">
                                        <span class="team-label-shape secondary-main-color">Entraineur: </span>
                                        <span class="default-font-shape">{{match.awayTeam.coach}}</span>
                                    </div>

                                    <div class="section center-align">
                                        <span class="team-label-shape secondary-main-color">Capitaine: </span>
                                        <span class="default-font-shape">{{match.awayTeam.captain}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>