<nav>
    <div class="nav-wrapper principal-main-color-back">
        <a href="#!" class="brand-logo center full-height">
            <div class="flex align-center full-height">
                <span class="logo-core">Deloitte</span>
                <span class="logo-point">.</span>
                <img class="logo-fit" src="images/logo-navbar.png" alt="logo fifa euro 2016">
            </div>
        </a>
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul ng-if="ctrl.isLoggedIn" class="left hide-on-med-and-down full-height">
            <li class="full-height">
                <div class="flex align-center full-height">
                    <img ng-if="!ctrl.currentUser.profile.picture.url" ng-src="{{ ctrl.currentUser.profile.picture.defaultUrl }}" class="circle responsive-img profile-fit">
                    <img ng-if="ctrl.currentUser.profile.picture.url" ng-src="{{ ctrl.currentUser.profile.picture.url }}" class="circle responsive-img profile-fit">
                    <span class="add-padding">{{ ctrl.currentUser | displayNameFilter }}</span>
                </div>
            </li>
        </ul>

        <ul ng-if="ctrl.isLoggedIn" class="right hide-on-med-and-down">
            <li ng-click="ctrl.activeMe($event)" class="active"><a ui-sref="bet">Paris</a></li>
            <li ng-click="ctrl.activeMe($event)"><a ui-sref="result">Résultats</a></li>
            <li ng-click="ctrl.activeMe($event)"><a ui-sref="profile">Profil</a></li>
            <li ng-if="ctrl.isAdmin" ng-click="ctrl.activeMe($event)"><a ui-sref="admin.team">Admin equipe</a></li>
            <li ng-if="ctrl.isAdmin" ng-click="ctrl.activeMe($event)"><a ui-sref="admin.match">Admin match</a></li>
            <li><a ng-click="ctrl.logout()"><i class="material-icons right">exit_to_app</i>Logout</a></li>
        </ul>

        <ul class="side-nav" id="mobile-menu">
            <li class="secondary-main-color-back row" ng-click="ctrl.close()">
                <a class="flex-important align-center full-height">
                    <img ng-if="!ctrl.currentUser.profile.picture.url" ng-src="{{ ctrl.currentUser.profile.picture.defaultUrl }}" class="circle responsive-img profile-fit">
                    <img ng-if="ctrl.currentUser.profile.picture.url" ng-src="{{ ctrl.currentUser.profile.picture.url }}" class="circle responsive-img profile-fit">
                    <span class="add-padding white-main-color">{{ ctrl.currentUser | displayNameFilter }}</span>
                </a>
            </li>
            <li ng-click="ctrl.activeMe($event)"><a ui-sref="bet">Paris</a></li>
            <li ng-click="ctrl.activeMe($event)" ><a ui-sref="result">Résultats</a></li>
            <li ng-click="ctrl.activeMe($event)" ><a ui-sref="profile">Profil</a></li>
            <li ng-if="ctrl.isAdmin" ng-click="ctrl.activeMe($event)"><a ui-sref="admin.team">Admin equipe</a></li>
            <li ng-if="ctrl.isAdmin" ng-click="ctrl.activeMe($event)"><a ui-sref="admin.match">Admin match</a></li>
            <li><a ng-click="ctrl.logout()"><i class="material-icons right">exit_to_app</i>Logout</a></li>
        </ul>
    </div>
</nav>
