<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a ui-sref="admin.team.creation" class="btn-floating btn-large third-main-color-back">
        <i class="large material-icons">add</i>
    </a>
</div>

<div class="section" ng-repeat="team in ctrl.teams">
    <div class="col s8 offset-s2">
        <div class="row valign-wrapper">
            <div class="col s2">
                <img ng-src="{{team.logo.url}}" class="circle responsive-img" alt="" />
            </div>
            <div class="col s8 column-direction space-around-wrapper">
                <span class="team-country-shape principal-main-color">{{team.country}}</span>

                <div class="section">
                    <span class="team-label-shape secondary-main-color">Entraineur: </span>
                    <span class="default-font-shape">{{team.coach}}</span>
                </div>

                <div class="section">
                    <span class="team-label-shape secondary-main-color">Capitaine: </span>
                    <span class="default-font-shape">{{team.captain}}</span>
                </div>
            </div>
            <div class="col s2 space-around-wrapper">
                <i ui-sref="admin.team.edition({ id: team._id })" class="material-icons small secondary-main-color">edit</i>
                <i ng-click="ctrl.removeTeam(team._id)" class="material-icons small warn-main-color">delete</i>
            </div>
        </div>
    </div>
</div>

<div class="divider"></div>
