<div class="section">
    <div class="row-wrap">
        <div class="cols mm8 ss12">
            <div class="row valign-wrapper no-bottom-margin">
                <a class="col s4 modal-trigger center-align" href="#modalProfilePicture">
                    <img ng-if="!ctrl.userData[0].profile.picture.url" ng-src="{{ ctrl.userData[0].profile.picture.defaultUrl }}" alt="" class="circle responsive-img waves-effect hover-shadow-effect">
                    <img ng-if="ctrl.userData[0].profile.picture.url" ng-src="{{ ctrl.userData[0].profile.picture.url }}" alt="" class="circle responsive-img waves-effect hover-shadow-effect">
                </a>
                <div class="col s8 valign">
                    <ul>
                        <li>{{ ctrl.userData[0].emails[0].address }}</li>
                        <li>{{ ctrl.userData[0].profile.department }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cols mm4 ss12">
            <div class="valign-wrapper center-align">
                <i class="material-icons medium valign third-main-color">trending_up</i>
                <i class="material-icons medium valign warn-main-color">trending_down</i>
                <span class="rank-display valign">8<span class="total-display">/100</span></span>
            </div>
        </div>
    </div>
</div>

<div id="modalProfilePicture" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Modifier votre photo de profil</h4>
        <img-uploader type="profil" image-info="ctrl.userData[0].profile.picture"></img-uploader>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="ctrl.updateProfilePicture()">Sauvegader</a>
    </div>
</div>