<div class="section">
    <div class="row-wrap">
        <div class="cols mm6 ss12">
            <div class="row valign-wrapper no-bottom-margin">
                <a class="col s4 modal-trigger center-align" href="#modalProfilePicture">
                    <img ng-if="!ctrl.currentUser.profile.picture.url" ng-src="{{ ctrl.currentUser.profile.picture.defaultUrl }}" class="circle responsive-img waves-effect hover-shadow-effect">
                    <img ng-if="ctrl.currentUser.profile.picture.url" ng-src="{{ ctrl.currentUser.profile.picture.url }}" class="circle responsive-img waves-effect hover-shadow-effect">
                </a>
                <div class="col s8 valign">
                    <div class="section">
                        <span class="team-label-shape secondary-main-color">Email: </span>
                        <span class="default-font-shape">{{ ctrl.currentUser.emails[0].address }}</span>
                    </div>

                    <div class="section">
                        <span class="team-label-shape secondary-main-color">Service: </span>
                        <span class="default-font-shape">{{ ctrl.currentUser.profile.department }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cols mm6 ss12">
            <div class="flex align-center justify-end">
                <span class="team-label-shape secondary-main-color">{{'Vous êtes    '}}
                    <span class="rank-display">{{ '&nbsp;' + ctrl.getRank() }}
                        <span class="total-display">{{ '/' + ctrl.users.length }}</span>
                    </span>
                </span>

                <span class="team-label-shape secondary-main-color"> {{'&nbsp;&nbsp;avec un total de '}}
                    <span class="rank-display">{{ '&nbsp;' + ctrl.currentUser.profile.score[0].value }}
                        <span class="total-display">pts</span>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>

<div id="modalProfilePicture" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Modifier votre photo de profil</h4>
        <img-uploader type="profil" image-info="ctrl.currentUser.profile.picture"></img-uploader>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="ctrl.updateProfilePicture()">Sauvegader</a>
    </div>
</div>