<form name="editionForm" ng-submit="ctrl.saveScore(editionForm.$valid)">
    <div class="row">
        <div class="input-field col s12 m6 offset-m3">
            <select name="homeTeamScore" ng-model="ctrl.score.homeTeam" ng-required="true">
                <option value="" disabled selected>Sélectionner l'équipe jouant à domicile</option>
                <option ng-repeat="team in ctrl.teams" value="{{team._id}}">{{team.country}}</option>
            </select>
            <label>Equipe à domicile</label>

            <div ng-messages="creationForm.homeTeam.$error" ng-if="creationForm.homeTeam.$touched || creationForm.homeTeam.$dirty">
                <div ng-message="required">Champs requis</div>
            </div>
        </div>

        <div class="input-field col s12 m6 offset-m3">
            <select name="awayTeam" ng-model="ctrl.newMatch.awayTeam" ng-required="true">
                <option value="" disabled selected>Sélectionner l'équipe jouant à l'extérieur</option>
                <option ng-repeat="team in ctrl.teams" value="{{team._id}}">{{team.country}}</option>
            </select>
            <label>Equipe à l'extérieur</label>

            <div ng-messages="creationForm.awayTeam.$error" ng-if="creationForm.awayTeam.$touched || creationForm.awayTeam.$dirty">
                <div ng-message="required">Champs requis</div>
            </div>
        </div>

        <div class="col s12 m6 offset-m3 center-align">
            <button class="btn waves-effect waves-light light-blue darken-1" type="submit" ng-disabled="!creationForm.$valid">
                Sauvegarder<i class="material-icons right">save</i>
            </button>
        </div>
    </div>
</form>

