<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a ui-sref="admin.match.creation" class="btn-floating btn-large third-main-color-back">
        <i class="large material-icons">add</i>
    </a>
</div>

<div class="section" ng-repeat="match in ctrl.matchs | orderBy : 'date'">
    <div class="col s10 offset-s1">
        <div class="row valign-wrapper">
            <div class="col s10">
                <div class="col s12 center-align">
                    <h6 class="strong-shape third-main-color">{{ match.group | convertGroupId }}</h6>
                </div>

                <div class="col s12 center-align">
                    <h6 class="strong-shape secondary-main-color">{{ match.stadium }}</h6>
                </div>

                <div class="col s12 center-align">
                    <h6 class="secondary-main-color">{{ match.date | date: 'EEEE dd MMMM yyyy' }}</h6>
                    <h6 class="secondary-main-color">{{ match.date | date: 'H:mm' }}</h6>
                </div>

                <div class="col s12 valign-wrapper">
                    <div class="col s12 valign-wrapper">
                        <a class="col s5 row-dispatcher waves-effect" ng-class="{ 'bet-selection': ctrl.isSelected(match._id, '1') }" ng-click="ctrl.saveBet(match._id, '1')">
                            <div class="logo valign-wrapper">
                                <img ng-src="{{ match.homeTeam.logo.url }}" class="circle responsive-img" alt="" />
                            </div>

                            <div class="country">
                                <p class="principal-main-color strong-shape center-align flow-text truncate">{{match.homeTeam.country}}</p>
                            </div>
                        </a>

                        <a class="col s2 center-align waves-effect" ng-class="{ 'bet-selection': ctrl.isSelected(match._id, 'N') }" ng-click="ctrl.saveBet(match._id, 'N')">
                            <p class="strong-shape secondary-main-color flow-text truncate">-</p>
                        </a>

                        <div class="col s5 row-dispatcher waves-effect" ng-class="{ 'bet-selection': ctrl.isSelected(match._id, '2') }" ng-click="ctrl.saveBet(match._id, '2')">
                            <div class="country">
                                <p class="principal-main-color strong-shape center-align flow-text truncate">{{match.awayTeam.country}}</p>
                            </div>

                            <div class="logo valign-wrapper">
                                <img ng-src="{{ match.awayTeam.logo.url }}" class="circle responsive-img" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s2 space-around-wrapper">
                <i ui-sref="admin.match.edition({ id: match._id })" class="material-icons small secondary-main-color">edit</i>
                <i ng-click="ctrl.removeMatch(match._id)" class="material-icons small warn-main-color">delete</i>
            </div>
        </div>
    </div>

    <div ng-hide="$last" class="divider"></div>
</div>